<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Basic Map Types</title>
    <meta name="viewpoint" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #map{
            height: 600px;
            weight: 100%;
        }
    </style>
</head>
<body>
<h1> Google Map </h1>
<div id="map"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var array=[];
    document.write(">");
    var list=/*[[${list}]]*/"f";
    /*]]>*/
    document.write(list.length);
    for(i=0;i<list.length;i++)
    {
        const obj = {lat:list[i].latitude, lng:list[i].longitude, name:list[i].pName,address:list[i].address};
        array.push(obj);
    }

</script>

<script>


    function initMap()
    {
        var options={
            zoom:8,
            center:{lat:24.00,lng:90.000}
        }
        var map =new google.maps.Map(document.getElementById('map'),options);
        for(i=0;i<array.length;i++) {
            addMarker({coords: {lat: array[i].lat, lng:array[i].lng}, content:array[i].address});
        }

        function addMarker(props) {
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map
            });
            if (props.content) {
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                });
            }
            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });

    }

    }
</script>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgh0BMZzbPkiwq8r0REUiCs1fUHDv6k9E&callback=initMap&libraries=&v=weekly"
        async
></script>

</body>
</html>