<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Medicine Storage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <a style="color: azure;font-size: 30px" class="navbar-brand" href="/"><b><em>Medicine Shop </em></b>       </a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li ><a href="/add-new-medicine">Add New Medicine</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Medicine Storage
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/medicine-category">Medicine Category</a></li>
                    <li><a href="/medicine-storage">All Medicine</a></li>
                </ul>
            </li>
            <li ><a href="/consumerslist">Consumers List</a></li>

            <li><a href="/consumers-request">Consumers Request</a></li>
            <li  class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Medicine Order
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ><a href="/medicine-order-list">Ordered list </a></li>
                    <li><a href="/medicine-order">New Order</a></li>
                </ul>
            </li>

        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>


    </div>
</nav>


<div class="container">
    <h2 style="margin-top: 15px; text-align: center;color: blueviolet">Medicine Storege:</h2>
    <div style="text-align: right;margin-top: 15px;width: available">
        <form action="/medicine-storage">
            <input type="text" placeholder="search..." name="s">
            <button type="submit" style="color: mediumvioletred;background-color: darkgray"><i class="fa fa-search"></i>Search</button>
        </form>
    </div>

    <table class="table table-bordered table-striped" style="margin-top:7px;color: black">
        <thead>
        <tr>
            <th>License No</th>
            <th>Pharmacy Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Contact No</th>
            <th style="color: #fa9442">Latitude</th>
            <th style="color: blue">Longitude</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${list}">

            <td> [[${element.licenseNo}]]</td>
            <td> [[${element.pName}]]</td>
            <td> [[${element.address}]]</td>
            <td> [[${element.email}]]</td>
            <td> [[${element.phone}]]</td>
            <td style="color: #fa9442">[[${element.latitude}]]</td>
            <td style="color: blue">[[${element.longitude}]]</td>
            <td >
                <div >
                    <a th:href="@{/update-pharmacy(licenseNo=${element.licenseNo})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/delete-pharmacy(licenseNo=${element.licenseNo})}" class="btn btn-danger">Delete</a>
                </div>
            </td>


        </tr>
        </tbody>
    </table>
</div>


</body>
</html>