<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>My Profile </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div style="font-size: 14px;font-family: Garamond" class="container-fluid">
        <div class="navbar-header">
            <a style="color: azure;font-size: 30px" class="navbar-brand" href="/"><b><em>Pharmacy Locator System </em></b>       </a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li ><a href="/pharmacy-map">Pharmacy Map</a></li>
            <li ><a href="/my-location">My Location</a></li>
            <li ><a href="/nearest-pharmacy">Nearest Pharmacy</a></li>
			<li ><a href="/all-pharmacy-distance">All Pharmacy</a></li>
			
            <li><a href="/about">About</a></li>
        </ul>
        <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"  sec:authentication="name"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/profile/settings">Settings</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="signup-form" style="color: mediumvioletred; 'Audiowide', sans-serif;font-size: 30px">
    <div class="col-xs-8 col-xs-offset-4">
        <h2>Profile Information:</h2>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-4">UserName</label>
        <div class="col-xs-8">
            <h6>[[${user_info.username}]]</h6>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">Email Address</label>
        <div class="col-xs-8">
            <h6>[[${user_info.email}]]</h6>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-4">Address</label>
        <div class="col-xs-8">
            <h6>[[${user_info.address}]]</h6>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-4">Role</label>
        <div class="col-xs-8">
            <h6>[[${user_info.role}]]</h6>
        </div>
    </div>
</div>
</body>
</html>