<!DOCTYPE html>
<html>
<head>
    <title>Event Click LatLng</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<script>
    function searchViaAjax(id) {
        $.ajax({
            type : "POST",
            url : "/search/api/getSearchResult/"+id,
            success : function(id) {
            }
        });
    }

</script>

<!--<script>-->

<!--    geocode();-->
<!--    function geocode()-->
<!--    {-->
<!--        var location='dhaka';-->
<!--        axios.get('https://maps.googleapis.com/maps/api/geocode/json',{-->

<!--            params:{-->
<!--                address:location,-->
<!--                key:'AIzaSyBzMBH7vcPItYJFx_b_-EpnFyBUHo0Q3AM'-->
<!--            }-->
<!--        })-->
<!--        .then(function(response){-->
<!--            console.log(response);-->
<!--        })-->
<!--        .catch(function (error){-->
<!--            console.log(error);-->
<!--        })-->
<!--    }-->
<!--</script>-->










<!--<H1>HDFJGHJGH</H1>-->
<!--<button onclick="getLocation()">Get Location</button>-->
<!--<div id="output"></div>-->
<!--<script src="https://code.jquery.com/jquery-2.2.4.js">-->
<!--</script>-->
<!--<script>-->
<!--    var x=document.getElementById('output');-->
<!--    function  getLocation()-->
<!--    {-->
<!--        if(navigator.geolocation)-->
<!--            navigator.geolocation.getCurrentPosition(showPosition);-->
<!--        else-->
<!--            x.innerHTML="Browser not Support";-->
<!--    }-->



<!--<script-->
<!--        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgh0BMZzbPkiwq8r0REUiCs1fUHDv6k9E&callback=initMap&libraries=&v=weekly"-->
<!--        async-->
<!--&gt;</script>-->
</body>
</html>
<script>

    function showPosition(position)
    {
        x.innerHTML="Latitude :"+position.coords.latitude;
        x.innerHTML+="<br/>"
        x.innerHTML+="Longtude :"+position.coords.longitude;
        var locAPI="http://maps.googleapis.com/maps/api/geocode/json?latlng="+position.coords.
            latitude+","+position.coords.longitude+"&sensor=true";
        x.innerHTML+=locAPI;
        $.get({
            url :locAPI,
            success: function(data){
                console.log(data);
                x.innerHTML+=data.results[0].address_components[4].long_name+",";
                x.innerHTML+=data.results[0].address_components[5].long_name+",";
                x.innerHTML+=data.results[0].address_components[6].long_name;

            }
        })


        <!--    }-->
        <!--</script>-->